p {
    border: px solid powderblue;
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
     }
     
     #whole{padding: 4%  1%;
         background-image: url(true\ fiendship.png);
       }
       div{ background-color: whitesmoke;}
       a{background-color: rgba(0, 255, 13, 0.5);
      font-size: 200%;
text-decoration: none;}
a :hover{ background-color: aquamarine;}
H1{color: rgb(250, 93, 224); text-align: center;
    }
 body{padding: 10%;
    background-color: cornsilk;}
    p{color:black;
    font-size: 140%;
    text-align:left;
     padding-left: 10%;
    padding-right: 10%;
    }
    p::first-letter{
        color:rgb(255, 0, 0);
        font-size: 420%;
        float: left;
        line-height: 0.7;
    }

